body{
  font-family: Helvetica;
  background-color: rgba(255, 255, 255, 0.5);
}
canvas{
  padding: 200px;
}
#myLegend{
  padding: 50px;
}
#myPage{
  padding: 10px;
  border: 1px solid #CCCCCC;
}
h1{
  font-size: 2.2em;
  margin-left: 1.0em;
  font-family: Helvetica;
  font-style: normal;
  color: #4e4e52;
}
h2{
  font-size: 1.0em;
  margin-left: 2.2em;
  font-family: Helvetica;
  font-style: normal;
  color: #4e4e52;
}
@media screen and (max-width: 768px){
  body{
    background-color: rgba(0, 255, 0, 0.5);
  }
  h1{
    font-size: 1.2em;
  }
  h1:after{
    content: ' Tablet size page';
  }
}
@media screen and (max-width: 480px){
  body{
    background-color: rgba(255, 0, 0, 0.5);
  }
  h1{
    font-size: 1em;
  }
  h1:after{
    content: ' Mobile size page';
  }
}
